/* generales */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    color: white;
}

/* variables */
:root{
    --pink: rgb(243, 73, 152);
    --red-pink: rgb(247, 21, 89); 
    --blue: #3566E5;
    --grey-withe: #EFF3F5;
    --grey-more:rgb(92, 91, 91); 
    --grey-foot:#7a7a7a
}


.section-container{
    background-color: white;
}


.encabezado{ 
    margin: 0 auto;
    max-width: 2000px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 110px 110px 150px;
    background-color: white;
    
  }

 .img {
    width: 400px;

} 

.navbar,
.navbar-list{ 
    max-width: 2500px;
    height: 55px;
    display: flex;
    background-color: #3566E5;
    gap: 110px;
    font-size: 20px;
    align-items: center;
    justify-content:flex-start;
}



/* animacion del item */
.nav_item{
    color: white;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    letter-spacing: 1px;
}
.nav_item::after {
    content: "";
    display: block;
    width: 90%;
    background: #ffffff;
    margin-top: 3px;
    left: 0px;
    height: 3px;
    clip-path: var(--clippy);
    transition: 0.4s ease-out;
}

.nav_item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 
.navbar i{
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none 
}


#toggle-menu{
    display: none;
}


.lasmanos {
    display: flex;
    min-width: fit-content;
    height: 52vh; 
    background-image: url(./img/My\ project\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-bottom: 50px;
    
}


.box {
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 40px; 
    padding-top: 30px;
}

h1 {
    font-size: 50px;
    line-height: .9; 
    font-weight: 100;
   
} 

span {
    font-size: 29px;
    letter-spacing: 2px;
    font-weight: 300;
    display: flex;
    
}

/* SEPARADOR */
.separador{
    height: 54px;
    background: #EFF3F5;
    
}

/* SECCION INFORMACIÓN */


.info{
    margin: 0 auto;
    gap:10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.h2-title{
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--pink);
    margin-top: 50px;
}


.p-info{  font-size: 29px;
    letter-spacing: 1px;
    font-weight: 300;
    display: flex;
    padding: 20px;
    padding-left: 110px;
    padding-right: 110px ; 
    color: var(--grey-foot);
    text-align: justify; 

}



.info2{
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* cards animadas */
.container__card{
    padding: 50px; 
    padding-bottom: 180px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;

}

.card{
    width: 350px;
    margin: 26px;
    transition: all 300ms;
    border-radius: 20px;
    z-index: 0;
} 

.card:hover{
     box-shadow: 1px 1px 20px -10px #20202049; 

}

.card:hover .info__description{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px
}


.card:hover .icon{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;


}

.C1:hover .icon{
    background: rgb(243, 73, 152);
}

.C1 .icon i{
    color: rgb(243, 73, 152);
}

.C1:hover .icon i{
    color: rgb(243, 73, 152);
}

.C2:hover .icon{
    background: rgb(243, 73, 152);
}

.C2 .icon i{
    color: rgb(243, 73, 152);
}

.C2:hover .icon i{
    color: rgb(243, 73, 152);
}

.C3:hover .icon{
    background: rgb(243, 73, 152);
}

.C3 .icon i{
    color: rgb(243, 73, 152);
}

.C3:hover .icon i{
    color: rgb(243, 73, 152);
}


.icon{
    width: 100%;
    height: 220px;
    background: #EFF3F5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
    
}

.icon i{
    font-size: 150px;
    color: rgb(243, 73, 152);
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}

.info__description{
    width: 100%;
    height: 220px;
    color: rgb(71, 71, 71);
    background: #EFF3F5;
    padding: 20px;
    padding-bottom: 0px;
    margin-top: -238px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}

.info__description p{
    font-size: 18px;
    margin-top: 5px;
    padding: 5px;
   display: flex;
   color: rgb(92, 91, 91);
   text-align: center;

  
}

h2{
    font-size: 27px;
    color: #EFF3F5;
    display: flex;
    justify-content: center;

}

/* nosotras cards */
.h2-title-s{
    background-color: var(--grey-withe);
    color: var(--pink);
    font-size: 40px;
    letter-spacing: 1px;
    color: var(--pink);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 28px;
}
.she-cards{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: var(--grey-withe);
    padding-bottom: 70px;
}

.s-card{
    width: 350px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3); 
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.s-card:hover{
    transform: scale(1.1);
    transform: translateY(-10px);
}

.s-card h2{
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    color: var(--grey-more);

}

.s-card hr{
    margin-top: 30px;
    border: none;
    height: 0.8px;
    color: #7a7a7a;
}

.footer-cards{
    margin-top: 10px;
    display: flex;
    color: #7a7a7a;
}

.p-cards{
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px; 
    padding-top: 8px;  
}

.footer-cards i{
    color: #7a7a7a;
}



/* footer */

footer{
    width: 100%;
   padding-top: 50px;
    background:#EFF3F5;
    background-size: cover;
    margin-top: 80px;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: -25px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer h2{
    margin-bottom: 30px;
    color: #7a7a7a;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
}

.box_footer a:hover{
    opacity: 0.8;
}

.box_footer i{
    font-size: 18px;
    padding: 5px;
}

.box_footer a .fab{
    font-size: 20px;

}

.box_copyrigth{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    
}

.box_copyrigth p{

    color: #7a7a7a;
    font-size: 15px;
}

.box_copyrigth hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;

}



/* MEDIA */

@media(max-width: 2000px){
    .navbar-list{
        gap: 250px;

    }
}

@media(max-width: 1920px){
    .navbar-list{
        gap: 250px;

    }
}

@media(max-width: 1791px){
    .navbar-list{
        gap: 200px;

    }
}

@media(max-width: 1684px){
    .navbar-list{
        gap: 150px;

    }
}

@media(max-width: 1514px){
    .navbar-list{
        gap: 110px;

    }
}

@media(max-width: 1300px){
    .navbar-list{
        gap: 100px;

    }
}

@media(max-width: 1262px){
    .navbar-list{
        gap: 70px;
    }
}


@media(max-width: 1257px){
    .navbar-list{
        gap: 60px;

    }
}
@media(max-width: 1246px){
    .navbar-list{
        gap: 60px;
    }
}

@media(max-width: 1077px){
    .navbar-list{
        gap: 40px;

    }
}

@media (max-width: 1043px){
    .navbar-list{
        gap: 40px;

    }
}

@media (max-width: 1039px){
    .navbar-list{
        gap: 40px;
    }
   
}



@media (max-width: 1020px){
    .img{
        margin-left: 11px;

       

    }
}
@media (max-width: 1024px){
    .info2{
        flex-direction: column;

       

    }
}


@media (max-width: 990px) {
  
  
    .navbar i {
      display: block;
      padding-left: 4px;
    }
  
    .navbar-list {
      position: absolute;
      background-color: var(--blue);
      flex-direction: column;
      top: 260px;
      right: 0;
      width: 100%;
      display: none;
      z-index: 9999;
      height: calc(90vh - 90px);
      border-radius: 9px;
      gap: 60px;
    }

    #toggle-menu:checked + .navbar-list {
        display: flex;
      }

    .encabezado{
        padding-left: 75px;
    }
} 

@media (max-width: 912px){
    .navbar-list{height: calc(90vh - 95px);
    }
    }

@media (max-width: 820px){
.navbar-list{height: calc(90vh - 95px);
}
}
@media (max-width: 821px){
    .navbar-list{height: calc(90vh - 95px);
    }
    }



@media (max-width: 768px){
    .navbar-list{height: calc(90vh - 95px);
    }
    }




@media (max-width: 690px){
        .encabezado{
            padding-left: 75px;
        }
    }

    @media (max-width: 544px){
        .lasmanos{
            display: none
    
        };
        }

@media (max-width: 540px){
        .navbar-list{height: calc(90vh - 95px);
        }
        }

    


        @media (max-width: 480px){
            .navbar-list{height: calc(90vh - 95px);
            }
        .lasmanos{
            display: none;
        }
        .p-info{
            padding: 5px;
        }
        .info__description{
            padding-top: 4px;
        }
      
        
            }
        @media (max-width: 450px){
            .navbar-list{height: calc(90vh - 95px);
            }
        .lasmanos{
            display: none;
        }
        .p-info{
            padding: 5px;
        }
        .info__description{
            padding-top: 4px;
        }
      
        
            }

@media(max-width: 480px){
    .navbar-list{height: calc(75vh - 95px);
      
    } 
    
}
    
    


@media (max-width: 414px){
  
       
       .navbar-list{height: calc(75vh - 95px);
      
            } 
            .info__description{
                padding: 0;
                padding-top: 5px;
            }
            
    } 
    @media (max-width: 412px){
  
        
       .navbar-list{height: calc(74vh - 95px);
      
            } 
            
    } 


@media (max-width: 400px){

    .navbar-list{height: calc(80vh - 95px);
    }
}



@media (max-width: 393px){

.img{
    margin-left: -49px;
}

.navbar-list{height: calc(90vh - 95px);
} 



}






@media (max-width: 375px){
    .img{
        width: 350px;
    }
    .navbar-list{height: calc(80vh - 95px);
        }
     
            .img{
                width: 300px;
            } 
            
          
            .container__card{
                padding: 0;
                padding-top: 80px;
            }
            
            }
    
   
       

@media (max-width: 373px){
    .encabezado{
        padding-right: 5px;
    }   
}


@media (max-width: 360px){
    .img{
        width: 300px;
    } 
    
    .navbar-list{height: calc(82vh - 95px);
        }
    .container__card{
        padding: 0;
        padding-top: 80px;
    }
    
    }

@media (max-width: 320px){
    .lasmanos{
        display: none;
    }
   .navbar-list{height: calc(95vh - 95px);
        } 
    .img{
        width: 290px;
    }
    .info2{
        flex-direction: column;
    }
    .h2-title{
        font-size: 30px;
    }
    .info__description{
        padding: 5px;
    }
}


@media (max-width: 280px){
        .img{
            width: 250px;
        } 
      
        .navbar-list{height: calc(90vh - 95px);
        }
    }






















